/* App.css */

/* Gallery Header */
.gallery-title {
    text-align: center;
    margin-top: 20px;
    font-size: 2rem;
    font-weight: bold;
  }
  
  /* Grid Layout for Gallery */
  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .gallery-item {
    position: relative;
    cursor: pointer;
    overflow: hidden;
  }
  
  .gallery-image {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
  }
  
  .gallery-item:hover .gallery-image {
    transform: scale(1.05);
  }
  
  .overlay-text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    font-size: 1rem;
    max-width: 90%;
  }
  
  /* Modal Styling */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    text-align: center;
    max-width: 90%;
    max-height: 80%;
    overflow: auto;
  }
  
  .modal-image {
    width: 100%;
    height: auto;
    max-width: 600px;
    margin-bottom: 10px;
  }
  
  .modal-remembrance {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .modal-close {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .modal-close:hover {
    background-color: #d32f2f;
  }
/* App.css */



/* Base styling for the navbar */
.navbar {
  background-color: #333;
  padding: 10px;
}

.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-list li {
  padding: 10px;
}

.navbar-list a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s;
}

.navbar-list a:hover {
  color: #4CAF50; /* Highlight color on hover */
}

/* Mobile-specific styles */
@media (max-width: 768px) {
  .navbar-list {
    justify-content: space-around; /* Spread items evenly across */
    text-align: center; /* Center text for smaller screens */
  }

  .navbar-list li {
    padding: 8px 12px;
  }

  .navbar-list a {
    font-size: 14px;
  }
}

/* Optional: Additional responsive design improvements for very small screens */
@media (max-width: 480px) {
  .navbar {
    padding: 8px;
  }

  .navbar-list li {
    padding: 6px 10px;
  }
}


